<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">
      WhaleSpotter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/whales.jpg" alt=""></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to WhaleSpotter</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Learn about Irish Whales and Dolphins and track their whereabouts.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
